body {
  background-image: url(background3.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.alien {
  position: absolute;
  top: 1300px;
  left: 1200px;
  transform: rotate(-40deg);
}

.berry {
  top: 4500px;
  left: 1200px;
  position: absolute;
  transform: rotate(60deg);

}

.bolt {
  top: 340px;
  left: 1150px;
  position: absolute;

}

.cactus {
  top: 1150px;
  left: 60px;
  position: absolute;

}

.cherry {
  top: 4300px;
  left: 70px;
  position: absolute;

}

.cupcake {
  top: 3500px;
  left: 50px;
  position: absolute;

}

.donut {
  top: 2600px;
  left: 130px;
  position: absolute;

}

.lolli {
  top: 5500px;
  left: 1200px;
  position: absolute;
  transform: rotate(30deg);

}

.melon {
  top: 5000px;
  left: 140px;
  position: absolute;

}

.mouth {
  top: 1800px;
  left: 100px;
  position: absolute;

}

.peace {
  top: 3000px;
  left: 1200px;
  position: absolute;

}

.point {
  top: 2150px;
  left: 1200px;
  position: absolute;

}

.teeth {
  top: 5400px;
  left: 50px;
  position: absolute;

}

.blue {
  position: absolute;
  left: 110px;
  top: 3000px;
  transform: rotate(-10deg);
}

.cute {
  position: absolute;
  left: 1150px;
  top: 2600px;
  transform: rotate(-10deg);

}

.design {
  position: absolute;
  left: 100px;
  top: 2270px;
  transform: rotate(15deg);

}

.shoes {
  position: absolute;
  top: 4870px;
  left: 1150px;
  transform: rotate(30deg);
}


a, a:visited {
  color: #05F2C7;
  text-decoration: none;
}

.header {
  display: flex;
}

.head1, .head2 {
  display: flex;
  position: absolute;
  justify-content: space-between;

}

.head1 {
  left: 20vmin;
}

.head2 {
  transform: scaleX(-1);
  right: 20vmin;
}

.soph {
  font-family: 'Mansalva', cursive;
  padding-top: 50px;
  text-shadow: 3px 3px #D9FFD9;
}


.soph1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 6rem;
  margin: 0;
}

.soph2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2.5rem;
}

.navMenu, .tipOfDay, .question, .answer, .budget, .info {
  font-family: 'Sue Ellen Francisco', cursive;
}

.tipOfDay p {
  margin: 0;
}

.tipOfDay {
  color: #D9FFD9;
  margin-top: 100px;
  margin-left: 100px;
  padding: 10px;
  background-image: url("background6.png");
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  font-size: 4vmin;
}

.mitski {
  position: absolute;
  top: 400px;
  left: 900px;
  background-image: url("background6.png");
}

.landscape {
  height: 40vh;
  max-height: 100%;
  padding: 8px;
}

.static {
  display: flex;
  justify-content: center;
  padding: 1vmin;
}

.faq, .howTo, .mapTime, .remember {
  font-family: 'Mansalva', cursive;
  font-size: 4rem;
  color: #111;
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px #D9FFD9;
}

.question {
  color: #D9FFD9;
  font-size: 1.75rem;

}

.answer {
  color: #DAD4FD;
  font-size: 1.75rem;
}

.qa {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.questionBox {
  background-image: url("background1.jpg");
  width: 65%;
}

.box{
  padding: 15px;
}

.dollar1 {
  position: absolute;
  top: 4000px;
  left: 1150px;
  transform: rotate(20deg);
}

.dollar2 {
  position: absolute;
  top: 4000px;
  left: 90px;
  transform: rotate(-20deg);
}

.budget a, a:visited {
  color: #DAD4FD;
  text-decoration: underline;
}

.budget {
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: #DAD4FD;
}

.cheetah {
  background-image: url("background4.png");
  width: 65%;
}

.mapSec {
  display: flex;
  justify-content: space-around;
}

.info {
  padding-left: 4vmin;
  font-size: 1.75rem;
  color: #D9FFD9;
  background-image: url("background5.png");
}

.map {
  padding: 4vmin;
}
