body {
  background-image: url(background3.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.navMenu {
  display: flex;
  justify-content: space-around;
  background-color: #03588C;
  color: #05F2C7;
  font-size: 2rem;
  padding: 1vmin;
}

a, a:visited {
  color: #05F2C7;
  text-decoration: none;
}

.header {
  display: flex;
}

.head1, .head2 {
  display: flex;
  position: absolute;
  justify-content: space-between;

}

.head1 {
  left: 3vmin;
}

.head2 {
  transform: scaleX(-1);
  right: 3vmin;
}

.soph {
  background-image: url("notebook.png");
  display: flex;
  justify-content: center;
  font-family: 'Mansalva', cursive;
}


.soph1 {
  font-size: 4.5rem;
}

.soph2 {
  font-size: 1.5rem;
}

.navMenu, .tipOfDay, .question, .answer, .budget {
  font-family: 'Sue Ellen Francisco', cursive;
}

.tipOfDay p {
  margin: 0;
}

.tipOfDay {
  color: #D9FFD9;
  position: absolute;
  font-size: 1.5rem;
  top: 54%;
  left: 38%;
  width: 29%;

}

.landscape {
  height: 40vh;
  max-height: 100%;
  padding: 8px;
}

.static {
  display: flex;
  justify-content: center;
  padding: 1vmin;
}

.faq {
  font-family: 'Mansalva', cursive;
  font-size: 4rem;
  color: #111;
  text-align: center;
  display: flex;
  justify-content: center;
}

.question {
  color: #D9FFD9;
  font-size: 1.75rem;

}

.answer {
  color: #DAD4FD;
  font-size: 1.75rem;
}

.qa {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.questionBox {
  background-image: url("background1.jpg");
  width: 65%;
}

.box{
  padding: 15px;
}

.money {
  display: flex;
  justify-content: center;
  padding: 4vmin;
}

.budget {
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: #DAD4FD;
}

.cheetah {
  background-image: url("background4.png");
  width: 65%;
}

.map {
  display: flex;
  justify-content: flex-end;
  padding: 4vmin;
}
