body {
  background-image: url(background3.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}


a, a:visited {
  color: #05F2C7;
  text-decoration: none;
}

.header {
  display: flex;
}

.head1, .head2 {
  display: flex;
  position: absolute;
  justify-content: space-between;

}

.head1 {
  left: 3vmin;
}

.head2 {
  transform: scaleX(-1);
  right: 3vmin;
}

.soph {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Mansalva', cursive;
  background-image: url("notebook.png");
}


.soph1 {
  font-size: 4.5rem;
}

.soph2 {
  font-size: 1.5rem;
}

.navMenu, .tipOfDay, .question, .answer, .budget, .info {
  font-family: 'Sue Ellen Francisco', cursive;
}

.tipOfDay p {
  margin: 0;
}

.tipOfDay {
  color: #D9FFD9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 4vmin;
  width: 80%;
}

.landscape {
  height: 40vh;
  max-height: 100%;
  padding: 8px;
}

.static {
  display: flex;
  justify-content: center;
  padding: 1vmin;
}

.faq {
  font-family: 'Mansalva', cursive;
  font-size: 4rem;
  color: #111;
  text-align: center;
  display: flex;
  justify-content: center;
}

.question {
  color: #D9FFD9;
  font-size: 1.75rem;

}

.answer {
  color: #DAD4FD;
  font-size: 1.75rem;
}

.qa {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.questionBox {
  background-image: url("background1.jpg");
  width: 65%;
}

.box{
  padding: 15px;
}

.money {
  display: flex;
  justify-content: center;
  padding: 4vmin;
}

.budget a, a:visited {
  color: #DAD4FD;
  text-decoration: underline;
}

.budget {
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: #DAD4FD;
}

.cheetah {
  background-image: url("background4.png");
  width: 65%;
}

.mapSec {
  display: flex;
  justify-content: space-around;
}

.info {
  padding-left: 4vmin;
  font-size: 1.75rem;
  color: #D9FFD9;
  background-image: url("background5.png");
}

.map {
  padding: 4vmin;
}
